<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Página de Cursos</title>
</head>

<body>
    <!-- Barra de Menu -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../Home/home.html">Meu Site</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../Home/home.html">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Seção de Cursos -->
    <main class="container mt-4">
        <h1 class="text-center">Melhores cursos da área!</h1>
        <div class="row">
            <!-- Custom Card -->
            <div class="col-md-4">
                <div class="custom-card mb-4">
                    <img src="../Cursos/css/img/c0d897ef-2c8b-4b48-abf6-058f35601f1f.jpg" class="card-img-top" alt="Curso Java">
                    <div class="card-body">
                        <h5 class="card-title">Curso de Panificação e Confeitaria</h5>
                        <p class="card-text">Domine a elaboração de produtos da área, e o planejamento e desenvolvimento da produção diária.</p>
                        <a href="#" class="btn btn-custom">Saiba Mais</a>
                    </div>
                </div>
            </div>
            <!-- Outro Custom Card -->
            <div class="col-md-4">
                <div class="custom-card mb-4">
                    <img src="../Cursos/css/img/unnamed.png" class="card-img-top" alt="Curso Python">
                    <div class="card-body">
                        <h5 class="card-title">Curso de Cozinha Criativa</h5>
                        <p class="card-text">Aprende a preparar pratos de forma inovadora e criativa, com o objetivo de estimular os sentidos do comensal. .</p>
                        <a href="#" class="btn btn-custom">Saiba Mais</a>
                    </div>
                </div>
            </div>
            <!-- Outro Custom Card -->
            <div class="col-md-4">
                <div class="custom-card mb-4">
                    <img src="../Cursos/css/img/unnamed (1).png" class="card-img-top" alt="Curso JavaScript">
                    <div class="card-body">
                        <h5 class="card-title">Curso de Consultoria Gastronômica</h5>
                        <p class="card-text">Aprenda e domine a gestão do seu negócio, e o treinamento dos seus funcionários.</p>
                        <a href="#" class="btn btn-custom">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-center mt-4">
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>